<div class="justify-center bg-gray-800 text-white">
  <table
    class="table-auto w-full bg-gray-750 rounded-lg text-white border-collapse border border-gray-700"
  >
    <thead>
      <tr>
        <th class="px-4 py-2 text-center">id</th>
        <th class="px-4 py-2 text-center">Name</th>
        <th class="px-4 py-2 text-center">Email</th>
        <th class="px-4 py-2 text-center">DOB</th>
        <th class="px-4 py-2 text-center">Delete</th>
        <th class="px-3 py-2 text-center">Edit</th>
      </tr>
    </thead>
    <tbody>
      @for (item of dataService.UserList; track $index) {
      <tr class="border-t border-gray-700">
        <td class="px-3 py-2 text-center">{{ $index + 1 }}</td>
        <td class="px-3 py-2 text-center">{{ item?.name }}</td>
        <td class="px-3 py-2 text-center">{{ item?.email }}</td>
        <td class="px-3 py-2 text-center">{{ item?.dateOfBirth }}</td>
        <td class="px-3 py-2 flex justify-center">
          <button
            class="tableButton bg-red-500 text-white px-4 py-2 rounded"
            (click)="onDelete(item?.id, $index)"
          >
            Delete
          </button>
        </td>
        <td class="px-3 py-2 justify-center">
          <button class="tableButton bg-blue-500 text-white px-4 py-2 rounded" (click)="open(content, $index)">
            Edit
          </button>
        </td>
      </tr>
      } @empty { }
    </tbody>
  </table>
  <ng-template #content let-modal>
    <div class="modal-header">      
      <h4 class="modal-title" id="modal-basic-title">Update Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(); resetValue()"></button>
    </div>
    <div class="modal-body">
      <div class="mx-auto my-4">
        <form class="bg-white rounded" [formGroup]="formService.studentForm">
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name" >
              Name
            </label>
            <input
              class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              [value]="dataService.UserList[index].name" id ="name" type="text" placeholder="Enter Name" formControlName="name"/>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email" >
              Email address
            </label>
            <input
              class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              [value]="dataService.UserList[index].email" id="email" type="email" placeholder="Enter email" formControlName="email"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="dob">
              Date of Birth
            </label>
            <input
              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              [value]="dataService.UserList[index].date" id="dob" type="date" isClearable formControlName="dateOfBirth"
            />
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(); save(index, dataService.UserList[index].id)">Save</button>
    </div>
  </ng-template>
</div>
