<div class="flex justify-center bg-gray-800 text-white">
    <table class="table-auto w-full bg-gray-750 rounded-lg text-white border-collapse border border-gray-700">
        <thead>
          <tr>
            <th class="px-4 py-2">id</th>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">DOB</th>
            <th class="px-4 py-2">Delete</th>
            <th class="px-3 py-2">Edit</th>
          </tr>
        </thead>
        <tbody>
            <tr class="border-t border-gray-700">
                <td class="px-3 py-2 text-center">id</td>
                <td class="px-3 py-2 text-center">name</td>
                <td class="px-3 py-2 text-center">em.email</td>
                <td class="px-3 py-2 text-center">dateOfBirth</td>
                <td class="px-3 py-2 flex justify-center">
                  <button class="tableButton bg-red-500 text-white px-4 py-2 rounded">
                    Delete
                  </button>
                </td>
                <td class="px-3 py-2 justify-center">
                  <button class="tableButton bg-blue-500 text-white px-4 py-2 rounded">
                    Edit
                  </button>
                </td>
            </tr>
        </tbody>
    </table>   
</div>