<header class="bg-blue-500 p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
      <div>
        <a class="font-bold text-xl">Student</a>
      </div>
      <nav class="space-x-4 font-sans">
        <a class="hover:text-gray-300 mx-2" (click)="rendering(true)">Login</a>
        <a class="hover:text-gray-300 mx-2" (click)="rendering(false)">Student Details</a>
      </nav>
    </div>
  </header>
  @if (renderGlobal) {
    <app-login (alertMessage)="handleInput($event)" (renderGlobal)="handleInput($event)"></app-login>
  }
  @else{
    <app-student></app-student>
  }