<div class="w-2/5 mx-auto my-4">
    <form [formGroup]="formService.studentForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name" type="text" placeholder="Enter Name" formControlName="name" />
        @if(formService.studentForm.controls['name'].touched){
          @if (formService.studentForm.controls['name'].errors?.['required']) {
            <span class="text-red-600 font-serif text-sm">*This field is required</span>
          }
        }
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email address
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email" type="email" placeholder="Enter email" formControlName="email"
        />
        @if(formService.studentForm.controls['email'].touched){
          @if (formService.studentForm.controls['email'].errors?.['required']) {
            <span class="text-red-600 font-serif text-sm">*This field is required</span>
          }
          @else if (formService.studentForm.get('email')?.hasError('email')) {
            <span class="text-red-600 font-serif text-sm">*Invalid Email</span>
          }
        }
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="dateOfBirth">
          Date of Birth
        </label>
        <!-- <div class="input-group">
          <input
						id="dateOfBirth"
						class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
          <button class="btn shadow bi bi-calendar3 border rounded  text-gray-700" (click)="dp.toggle()" type="button">Press</button>
        </div> -->
        
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="dateOfBirth" type="date" isClearable formControlName="dateOfBirth" format="yyyy-mm-dd"
        />
        @if(formService.studentForm.controls['name'].touched){
          @if (formService.studentForm.controls['name'].errors?.['required']) {
            <span class="text-red-600 font-serif text-sm">*This field is required</span>
          }
        }
      </div>
      <div class="flex items-center justify-between">
        <button 
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit" 
        >
          ADD
        </button>
      </div>
    </form>
  </div>
  

      
